<form class="">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlInput1"
          >Selling Price</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlInput1"
          >Down Payment</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlInput1"
          >Trade-In Value</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlInput1"
          >Trade-In Owing</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>

      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlInput1"
          >Protection Products</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label
          class="badge badge-light"
          class="badge badge-light"
          for="exampleFormControlInput1"
          >Rebates & Incentives</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlSelect1"
          >Exclude Taxes</label
        >
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label
          class="badge badge-light"
          class="badge badge-light"
          for="exampleFormControlInput1"
          >Amount Financed</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label
          class="badge badge-light"
          class="badge badge-light"
          for="exampleFormControlInput1"
          >Registration Fee</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label
          class="badge badge-light"
          class="badge badge-light"
          for="exampleFormControlInput1"
          >APR</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label
          class="badge badge-light"
          class="badge badge-light"
          for="exampleFormControlInput1"
          >Term</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlSelect1"
          >Frequency</label
        >
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Bi-Weekly</option>
          <option>Monthly</option>
          <option>Semi-Monthly</option>
          <option>Weekly</option>
        </select>
      </div>
      <div class="form-group">
        <label class="badge badge-light" for="exampleFormControlSelect1"
          >Province</label
        >
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Ontario</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-dark mt-4">
        Calculate
      </button>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="badge badge-warning" for="exampleFormControlInput1"
          >Estimated Net Trade-In Value</label
        >
        <input
          type="email"
          class="form-control readonly"
          id="exampleFormControlInput1"
          placeholder=""
          readonly
        />
      </div>
      <div class="form-group">
        <label class="badge badge-warning" for="exampleFormControlInput1"
          >Net Selling Price</label
        >
        <input
          type="email"
          class="form-control readonly"
          id="exampleFormControlInput1"
          placeholder=""
          readonly
        />
      </div>
      <div class="form-group">
        <label class="badge badge-warning" for="exampleFormControlInput1"
          >Taxes</label
        >
        <input
          type="email"
          class="form-control readonly"
          id="exampleFormControlInput1"
          placeholder=""
          readonly
        />
      </div>
      <div class="form-group">
        <label class="badge badge-warning" for="exampleFormControlInput1"
          >Total Estimated Payment</label
        >
        <input
          type="email"
          class="form-control readonly"
          id="exampleFormControlInput1"
          placeholder=""
          readonly
        />
      </div>
    </div>
  </div>
</form>
